
/*
#0088cc -> açık mavi  - linkler
#dfedf0 -> gri        - arka divler
#173e42 -> koyu mavi  - yazıların rengi 
#ffffff -> beyaz      - body rengi 
#fffdf7 -> mavi beyaz - ön divler 
#4a7d85 -> koyu mavi  - üst bar rengi 
#a5d3d9 -> orta mavi  - tablo çizgisi
#555    -> gri        - form başlıkları
#fff    -> beyaz      - form çizgileri
*/

body{
	margin:0px auto; 
	font-family: inherit;
	font-size:20px;
	background-color: #ffffff;
}
.temizle{
	clear:both;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  font-weight: bold;;
}

textarea:focus, input:focus{
    outline: 0;
}
textarea{
			resize: vertical;
			max-height: 55px;
		}

.menu-link{
	float: right;
	margin-right: 5px;
	padding: 5px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#tumalan{
	margin:0px auto; 
	width:%100;
}
#ortaalan{
	background: #dfedf0; 
	padding:10px; 
	margin:10px 10px 10px 10px;
}
.yanmenu{
	background:#fffdf7; 
	position:relative; 
	float:left; 
	width:200px; 
	height:460px; 
	padding:5px; 
	margin:10px;
}

.tablo{
	padding:0px 0px 0px 0px; 
	color: #173e42;
}
.ilan{
    margin: 10px;
}
.ilan tr td{
	border: 1px solid #a5d3d9;
    margin: 10px;

}
.icerik{
	background:#fffdf7; 
	position: relative; 
	float:left; 
	width:1045px; 
	height:460px; 
	padding:5px;
	margin:10px;
}

#ust{
	background: #dfedf0; 
	padding:5px; 
	margin:10px 10px 10px 10px;
	flex-direction:column;

}

#alt{
	background: #dfedf0; 
	padding:5px; 
	margin:10px 10px 10px 10px;


}
.alan{
	background:#4a7d85; 
	width:210px; 
	height:50px; 
	padding:5px; 
	margin:10px ; 
	position:relative; 
	float:left; 
}

.alan2{
	background:#4a7d85; 
	width:1050px; 
	height:50px; 
	padding:5px; 
	margin:10px ; 
	position:relative; 
	float:left; 
}
.alan3{
	background:#fffdf7; 
	width:1290px; 
	height:25px; 
	padding:5px; 
	margin:10px ; 
	position:relative; 
	float:left; 
}

.form-cerceve{
	padding-left: 60px; 
	color: #173e42; 
	border: 1px solid #a5d3d9; 
	margin: 10px;
}

form.ziyaretci_form{
	width:500px;
	margin:50px auto;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 15px;
	display: block;
	color: #555;
}



form.ziyaretci_form h4 {
	text-align: center;
	margin: 7px 0px;

}


